.dania {
	background-color: #D10A33;
	position: relative;
	border: 2px;
}

.dania::before {
	background-color: #FFFFFF;
	content: "";
	height: 15%;
	left: 0;
	position: absolute;
	top: 45%;
	width: 100%;
}
.dania::after {
	background-color: #FFFFFF;
	content: "";
	height: 100%;
	left: 30%;
	position: absolute;
	top: 0;
	width: 9%;
}